<div class="container-fluid bg-choose-addr p-4">
  <div class="row d-flex justify-content-center">

    <div class="col-2">
      <select (change)="getTemplatePaymentHistory()" [(ngModel)]="selectedYear">
        <option *ngFor="let yearList of years"> {{ yearList  }}</option>
      </select>
    </div>
    <!-- <div class="col-md-2 col-sm-6">
      <select (change)="getTemplatePaymentHistory()" [(ngModel)]="selectedMonth">
        <option *ngFor="let monthList of paymentByHistory">
          {{ monthList.month | month }}</option>
      </select>
    </div> -->

  </div>
</div>

<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-6 mb-5" *ngFor='let blk1 of paymentByHistory'>
      <ul class="list-group shadow-lg rounded">
        <li class="list-group-item  bg-info">
          <h4>{{blk1.month | month}}</h4>
        </li>
        <div *ngFor='let blk of blk1.varUt'>
          <li class="list-group-item p-4">
            <span>{{ blk.name | uppercase}}</span>
            <span class="float-right">
              <strong> {{ blk.sum }} </strong> uah</span>
          </li>
        </div>
        <div *ngFor='let blk of blk1.fixedUt'>
          <li class="list-group-item p-4">
            <span>{{blk.name |uppercase }}</span>
            <span class="float-right">
              <strong> {{blk.sum}}</strong> uah</span>
          </li>
        </div>
      </ul>
    </div>
  </div>
</div>
