<div class="container-fluid bg-choose-addr p-4">
  <div class="row d-flex justify-content-center">

    <div class="col-2">
      <select (change)="getTemplatePaymentHistory()" [(ngModel)]="selectedYear">
        <option *ngFor="let yearList of years"> {{ yearList }}</option>
      </select>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="card border-info m-3 shadow" 
        style="width: 18rem;" 
        *ngFor='let blk1 of paymentByHistory'>
      <div class="card-header text-center">
        <h4>{{blk1.month - 1 | month}}</h4>
      </div>
      <div class="card-body text-info">
        <div *ngFor='let blk of blk1.varUt' class="mt-3">
          <span>{{ blk.name | uppercase}}</span>
          <span class="float-right">
            <strong> {{ blk.sum | number:'.2' }} </strong> uah</span>
        </div>
        <div *ngFor='let blk of blk1.fixedUt' class="mt-3">
          <span>{{blk.name |uppercase }}</span>
          <span class="float-right">
            <strong> {{ blk.tariff | number:'.2'}}</strong> uah</span>
        </div>
      </div>
    </div>
  </div>
