<div class="card border-info  mb-3 shadow-lg rounded">
  <div class="card-header bg-info">
    <div class="row">
      <div class="col-6">
        <h4>{{varBlk.name}}</h4>
      </div>
      <div class="col-6">
      <h6 class="text-center">Current date: {{ objDate | date }}</h6>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class=" water-wrap col-md-6 col-lg-7 col-sm-12 ">
        <div class="form-group mr-2">
          <label>Previous
          <input type="text" class="form-control " value="{{ varBlk.previous }}">
          </label>
        </div>
        <div class="form-group mr-2">
          <label>Current
            <input type="text" class="form-control">
          </label>
        </div>
        <div class="form-group mr-2">
          <label>Tariff
            <input type="text" class="form-control" value="{{ varBlk.tariff }}" disabled>
          </label>
        </div>
        <div class="form-group mr-2">
          <label for="inp-w4">Sum
            <input type="text" class="form-control" value="{{ varBlk.sum }}">
          </label>
        </div>
        <div class="form-group mr-2">
          <button type="submit" class="btn btn-outline-info btn-block form-control">Calculate</button>
        </div>
      </div>

      <div class=" water-wrap border-left col-md-6 col-lg-5 col-sm-12">
        <div class="jumbotron m-0">
          <p class="lead">Personal account:
            <strong>{{ varBlk.persAcc }}</strong>
          </p>
          <p class="lead">Last Payment:
            <strong> May 10 2018</strong>
          </p>
          <p class="lead">Last Sum:
            <strong>200 uah</strong>
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
