<div class="container">
  <div class="row">
    <div class="col-sm col-lg-6 text-center mt-4 mb-4">
      <button type="button" 
              class="btn btn-outline-info btn-lg shadow_button" 
              (click)="addNewPayment()">Add new payment</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row d-flex justify-content-center mb-4 text-center">
    <div class="col-sm-6 col-lg-3">
      <h5>Year: {{lastPayment?.year}}
      </h5>
    </div>
    <div class="col-sm-6 col-lg-3">
      <h5>Month: {{ lastPayment?.month - 1 | month }}</h5>
    </div>
  </div>
</div>

<div class="container mb-3">
  <div class="row d-flex justify-content-center">
    <app-fixed-price *ngFor='let i of lastPayment?.fixedUt' 
                      [fixedUtility]='i'></app-fixed-price>
  </div>
</div>

<div class="container mb-3">
  <div class="row d-flex justify-content-center">
    <app-variable-price *ngFor='let i of lastPayment?.varUt' 
                        [varUtility]='i'></app-variable-price>
  </div>
</div>

<hr>

<div class="container">
  <div class="row d-flex justify-content-center mb-5">
    <button type="button" 
            class="btn btn-outline-info shadow_button" 
            (click)="openModal(template)">Save Payment</button>
    <ng-template #template>
      <div class="modal-body">
        <div class="alert alert-info">
          <strong>Info!</strong> If you save the payment, it will not be possible to change it
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" 
                class="btn btn-outline-info btn-lg" 
                (click)="modalRef.hide()" 
                (click)="save(lastPayment)">Save</button>
      </div>
    </ng-template>
  </div>
</div>
