<div class="container mt-4">
  <button type="button" class="btn btn-outline-info btn-lg" (click)="openModal(template)">Create new utility</button>
  <ng-template #template>
    <div class="modal-body">
      <div class="alert">
        <label>Name Utility: &nbsp;
          <input type="text" [(ngModel)]="NameUtility">
        </label>
        &nbsp;
        <label>Fixed: &nbsp;
          <input type="checkbox" [(ngModel)]="fixed">
        </label>
      </div>
    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button type="button" class="btn btn-info btn-lg" (click)="modalRef.hide(NameUtility)" (click)="addUtility(NameUtility, fixed); NameUtility='' " >Save</button>
    </div>
  </ng-template>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-3" *ngFor="let i of allUtilities">
      <div class="animated zoomIn card border-info mb-4 mt-4 mr-3" style="max-width: 18rem;">
        <div class="card-header">{{i.name}}</div>
        <div class="card-body text-info">
          <input type="text" class="card-title" placeholder="Enter tariff" [(ngModel)]="i.tariff" >
          <p class="card-text">
            <button type="button" class="btn btn-outline-info" (click)="save(i.tariff, i.name, check)" >Save</button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
